# Dependency and build output directories
/dist
/node_modules
/build
.yarn
/generated/prisma

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS and IDE files
.DS_Store
.temp
.tmp
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/coverage
/.nyc_output
/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
